<!DOCTYPE html>
<html>
<head>
  <title>File Metadata</title>
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>API Project: File Metadata Microservice</h1>

    <h2>Usage:</h2>
    <p>Please Upload a File ...</p>

    <div class="view">
      <form action="/api/fileanalyse" method="POST" enctype="multipart/form-data">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
      </form>
    </div>
  </div>
</body>
</html>