<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >

    <title>File Metadata Microservice</title>

    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    >

    <link
      href="/public/style.css"
      rel="stylesheet"
      type="text/css"
    >
  </head>

  <body>
    <div class="container">
      <h1>File Metadata Microservice</h1>

      <h2>Usage</h2>

      <p>Please upload a file.</p>

      <div class="view">
        <form
          action="/api/fileanalyse"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            id="inputfield"
            type="file"
            name="upfile"
            required
          >

          <input
            id="button"
            type="submit"
            value="Upload"
          >
        </form>
      </div>
    </div>
  </body>
</html>